[project]
[access "refs/tags/*"]
	create = group Branch Pushers
	forgeAuthor = group Branch Pushers
	forgeCommitter = group Branch Pushers
	push = group Branch Pushers
	pushTag = group Branch Pushers
[access "refs/*"]
	read = group gob-replication
[access "refs/heads/chromium/*"]
	create = group freetype2-committers
	push = group freetype2-committers
	pushMerge = group freetype2-committers
